/* mobile first css */

body{
  background-color: #F7F4EF;
  color: #000;
}

/* Hero Section */

.hero{
  width: 100%;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
  padding: 16px;
  border-bottom: 4px solid var(--main-border-color);
}

.hero .title{
  font-size: 2.5rem;
  font-weight: 900;
  background-color: var(--main-bg-color);
  border-radius: 100px;
  text-align: center;
  box-shadow: var(--drop-shadow-lg);
  margin-bottom: 1rem;
  
}

.hero .year{
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--secondary-bg-color);
  /* -webkit-text-stroke: 2px var(--main-border-color); */
  text-shadow: 
    -1.5px -1.5px 0 black,
    1.5px -1.5px 0 black,
    -1.5px  1.5px 0 black,
     1.5px  1.5px 0 black; /* Fallback for other browsers */
  text-align: center;
}

.hero .wrapper{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.hero .wrapper .namecard{
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  box-shadow: var(--drop-shadow);
  border-radius: 0.5rem;
  padding: 0.75rem;
  flex-basis: 16rem;
}


.hero .wrapper img{
  width: 7rem;
  position: absolute;
  right: 0;
  bottom: -1rem;
}

.hero .wrapper .namecard h4{
  font-size: 1.125rem;
}

/* --------------------------- */

/* Status Section */
.status{
  padding: 0px 16px ;
  margin: 1.25rem 0rem;
}

.status .role{
  display: flex;
  font-size: 0.75rem;
  font-weight: 900;
  gap: 0.125rem;
}
.status .role .uiux{
  padding: 0.5rem;
  width: 100%;
  color: var(--secondary-text-color);
  box-shadow: var(--drop-shadow-black);
  background-color: var(--tertiary-bg-color);
  border-radius: 100px;
  text-align: center;
}
.status .role .website{
  padding: 0.5rem;
  width: 100%;
  color: var(--additional-text-color);
  box-shadow: var(--drop-shadow-black);
  background-color: var(--additional-bg-color);
  border-radius: 100px;
  margin: 0rem 0.5rem;
  text-align: center;
}
.status .role .pm{
  padding: 0.5rem;
  width: 100%;
  color: var(--tertiary-text-color);
  box-shadow: var(--drop-shadow-black);
  background-color: var(--secondary-bg-color);
  border-radius: 100px;
  text-align: center;
}

.status .information{
  display: flex;
  gap: 2.5rem;
  text-align: center;
  margin: 2.75rem 0rem;
}

.status .information .number{
  font-size: 2rem;
  margin-bottom: 0.875rem;
  font-weight: 500;
}

.status .information .text{
  font-size: 0.75rem;
}