@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Bricolage Grotesque", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme Variable */
  --main-bg-color: #ffffff;
  --secondary-bg-color: #CCEA54;
  --main-text-color : #000000;
  --secondary-text-color:#ffffff;
  --tertiary-text-color: #4039E9;
  --additional-text-color : #CCEA54;
  --tertiary-bg-color : #2B2B28;
  --tertiary-bg-color : #4039E9;
  --main-drop-shadow-color: #2B2B28;
  --secondary-drop-shadow-color: #2B2B28;
  --main-border-color:#2B2B28;
  --secondary-border-color:#4039E9;
  --drop-shadow: 4px 4px 0px var(--main-drop-shadow-color);
  --drop-shadow-lg: 8px 8px 0px var(--main-drop-shadow-color);
  --drop-shadow-sm: 2px 2px 0px var(--main-drop-shadow-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}